{% extends 'base.html.twig' %}

{% block title %}Nous contacter{% endblock %}

{% block javascripts %}
    <script src="{{ asset('ckeditor5/ckeditor.js') }}" defer></script>
    <script src="{{ asset('assets/js/app-ckeditor.js') }}" defer></script>
{% endblock %}

{% block body %}
    {% for message in app.flashes('message') %}
        <div class="p-3 my-2 rounded-1 red light-4 txt-red txt-dark-4">{{ message }}</div>
    {% endfor %}
	<h1 class="ml-5 mb-5 h2">Nous contacter</h1>
	<div class="container">
        {{ form_start(form) }}
            {{ form_row(form.email) }}
            {{ form_row(form.sujet) }}
            <p>Message :</p>
            <div id="editor"></div>
        {{ form_end(form) }}
	</div>
{% endblock %}
