{% extends 'base.html.twig' %}

{# Variables personalisés #}
{% set queryParams = app.request.query.all %}

{% block title %}Accueil{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/filters.js') }}"></script>
{% endblock %}

{% block body %}
    <h1 class="ml-5 mb-5">Bienvenue sur ce site de petites annonces</h1>
    <div class="container">
        {# {{ form(form) }} #}

        {% for message in app.flashes('success') %}
            <div class="p-3 my-2 rounded-1 green light-4 txt-green txt-dark-4">{{ message }}</div>
        {% endfor %}

        <div class="grix xs1 sm5 gutter-0">
            <div class="col-xs1">
                <p>Filtrer</p>
                <form id="filters">
                    {% for categorie in categories %}
                        {# Vérifie si la catégorie est dans les paramètres #}
                        {% if queryParams is not empty and queryParams.categories is defined %}
                            {% set checked = (categorie.id in queryParams.categories) ? "checked" : "" %}
                        {% else %}
                            {% set checked = "" %}
                        {% endif %}
                        <p>
                            <input type="checkbox" name="categories[]" id="cat{{ categorie.id }}" value="{{ categorie.id }}" {{ checked }}>
                            <label for="cat{{ categorie.id }}">{{ categorie.name }}</label>
                        </p>
                    {% endfor %}
                    <input type="hidden" name="page" value="{{ page }}">                        
                </form>
            </div>
            <div class="col-xs1 col-sm4" id="content">
                {% include "main/_content.html.twig" %}
            </div>
        </div>

    </div>
{% endblock %}
