<div class="form-field">
    {{ form_start(form) }}
        {{ form_row(form.title) }}
        <p>Message :</p>
        <div class="mb-3" id="editor"></div>
    {{ form_end(form) }}
        
    {# Vérifie si la route est « offers_edit » pour afficher les images #}
    {% if app.request.attributes.get('_route') == 'offers_edit' %}
        {% if annonce.images is not empty %}
            <h2>Images</h2>
                <div class="grix xs2 md3">
                    {% for image in annonce.images %}
                        <div>
                            <img src="{{ asset('uploads/images/offers/' ~ image.name) }}" alt="Image" width="250">
                            <br><a class="btn shadow-1 rounded-1 small error" href="{{ path('offers_delete_image', {id: image.id}) }}" data-delete data-token="{{ csrf_token('delete' ~ image.id) }}">Effacer</a>
                        </div>
                    {% endfor %}
                </div>
        {% endif %}
    {% endif %}
</div>
