{% extends 'base.html.twig' %}

{% block title %}Détail de l'annonce « {{offer.title}} » {% endblock %}

{% block javascripts %}
	    <script src="{{ asset('assets/js/contact-and-comment.js') }}"></script>
{% endblock %}

{% block body %}
    {% for message in app.flashes('message') %}
        <div class="p-3 my-2 rounded-1 red light-4 txt-red txt-dark-4">{{ message }}</div>
    {% endfor %}
	<h1 class="ml-5 mb-5 h2">Détail de l'annonce « {{offer.title}} »</h1>
	<div class="container">
		<div class="mt-5 caroulix" id="carousel" data-ax="caroulix" data-ax-caroulix-autoplay-enabled="true" data-caroulix-indicators-enabled="true">
			<div class="caroulix-arrow caroulix-prev">
				<i class="fas fa-chevron-left"></i>
			</div>
			<div class="caroulix-arrow caroulix-next">
				<i class="fas fa-chevron-right"></i>
			</div>
			{% for image in offer.images %}
				<div class="caroulix-item">
					<img src="{{ asset('uploads/images/offers/' ~ image.name) | imagine_filter('banniere') }}" alt="{{ offer.title }}">
				</div>
			{% endfor %}
		</div>
		<div class="mb-3 card shadow-1 fx-row">
			<div class="primary d-flex vcenter fx-center px-4">
				<img class="py-4" src="{{ asset('uploads/images/offers/' ~ offer.images[0].name) | imagine_filter('square') }}" alt="{{ offer.title }}">
			</div>
			<div class="flex fx-col fx-grow">
				<div class="card-header">{{offer.title}}</div>
				<div class="card-content">
					<p class="mb-3">
						<b>Catégorie : {{ offer.categories }}</b>
					</p>
					{# <p>{{ offer.content | striptags | u.truncate(50, '...', false) }}</p> #}
					<p>{{ offer.content | raw }}</p>
					<p>
						<button class="mt-3 btn shadow-1 rounded-1 small primary modal-trigger" data-target="modal-contact">Contacter l'annonceur</button>
					</p>
				</div>
			</div>
		</div>
		<div class="grix xs2 sm3 gutter-0 card">
			<div class="col-xs2 col-sm3">
				<h2>Liste des commentaires</h2>
				{% for comment in offer.comments %}
					{% if comment.parent == null %}
						<hr>
						<h4>Commentaire de {{ comment.nickname }}</h4>
						<p><b>Publié le {{ comment.createdAt | date('d/m/Y à H:i') }}</b></p>
						<div class="ml-2">{{ comment.content | raw }}</div>
						<p><a class="btn shadow-1 rounded-1 small primary" href="#ajout-commentaire" data-reply data-id="{{ comment.id }}">Répondre</a></p>
						{# Affiche les réponses #}
						{% for reply in comment.replies %}
							<p class="ml-3"><b>Réponse publié par {{ reply.nickname }} le {{ reply.createdAt | date('d/m/Y à H:i') }}</b></p>
							<div class="ml-5">{{ reply.content | raw }}</div>
						{% endfor %}
					{% endif %}
				{% endfor %}
			</div>
			<div class="col-xs2 col-sm3" id="ajout-commentaire">
				<h2>Ajouter un commentaire</h2>
				{{ form(commentForm) }}
			</div>
		</div>
	</div>
	<div class="modal shadow-1 white falling" id="modal-contact" data-ax="modal">
		<div class="modal-header">Contacter l'annonceur</div>
		<div class="divider"></div>
		{{ form_start(form) }}
			<div class="modal-content">
				<div class="mb-1">
					{{ form_label(form.title) }}
				</div>
				{{ form_widget(form.title) }}
				<div class="mb-1">
					{{ form_label(form.email) }}
				</div>
				{{ form_widget(form.email) }}
				<div class="mb-1">
					{{ form_label(form.message) }}
				</div>
				{{ form_widget(form.message) }}
			</div>
			<div class="divider"></div>
			<div class="modal-footer">
				<button data-target="modal-contact" class="btn shadow-1 rounded-1 small primary">Envoyer</button>
				<button data-target="modal-contact" class="btn shadow-1 rounded-1 small secondary modal-trigger">Fermer</button>
			</div>
		{{ form_end(form) }}
	</div>
{% endblock %}

