{% extends 'base.html.twig' %}

{% block title %}Modifier l'annonce « {{ annonce.title }} »{% endblock %}


{% block javascripts %}
    <script src="{{ asset('assets/js/deleteImage.js') }}"></script>
{% endblock %}

{% block body %}
    <h1 class="ml-5 mb-5 h2">Modifier l'annonce « {{ annonce.title }} »</h1>
    <div class="container">
        {{ include('offers/_form.html.twig') }}

        <a class="btn shadow-1 rounded-1 small primary" href="{{ path('offers_index') }}">Retour à la liste</a>

        {{ include('offers/_delete_form.html.twig') }}
    </div>
{% endblock %}