<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}Bienvenue !{% endblock %}
        </title>
        
        <link rel="stylesheet" href="{{ asset('assets/css/axentix.min.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/css/all.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
        {% block stylesheets %} {% endblock %}

        <script src="{{ asset('assets/js/axentix.min.js') }}"></script>
        {% block javascripts %} {% endblock %}
    </head>

    <body>
        <header>
            <nav class="navbar shadow-1 primary">
                <a href="{{ path('app_home') }}" class="navbar-brand">Petites Annonces</a>
                <div class="navbar-menu ml-auto">
                    <a class="navbar-link" href="{{ path('app_home') }}">Accueil</a>
                    <a class="navbar-link" href="{{ path('app_login') }}">Connexion</a>
                    <a class="navbar-link" href="#">Link 3</a>
                    <a class="navbar-link" href="#">Link 4</a>
                </div>
            </nav>
        </header>

        <main>
            {% block body %} {% endblock %}
        </main>

        <footer class="footer primary">
            Copyright © 2021 - Petites Annonces
        </footer>
    </body>
</html>
