<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}Bienvenue !{% endblock %}
        </title>
        
        <link rel="stylesheet" href="{{ asset('assets/css/axentix.min.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/css/all.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
        {% block stylesheets %} {% endblock %}

        <script src="{{ asset('assets/js/axentix.min.js') }}"></script>
        {% block javascripts %} {% endblock %}
    </head>

    <body>
        <header>
            <nav class="navbar shadow-1 primary">
                <a href="{{ path('app_home') }}" class="navbar-brand">{{ titre }}</a>
                <div class="navbar-menu ml-auto">
                    <a class="navbar-link" href="{{ path('app_home') }}">Accueil</a>
                    <div class="dropdown" id="dropdown" data-ax="dropdown">
                         <div class="navbar-link dropdown-trigger">
                            Catégories
                        </div>
                        <div class="dropdown-content white shadow-1 rounded-1">
                            {% for categ in categ.categories %}
                                <a class="dropdown-item" href="">{{ categ.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <a class="navbar-link" href="{{ path('app_login') }}">Connexion</a>
                </div>
            </nav>
        </header>

        <main>
            {% block body %} {% endblock %}
        </main>

        <footer class="footer primary">
            Copyright © 2021 - {{ titre }}
        </footer>
    </body>
</html>
