<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Bienvenue !{% endblock %}
		</title>

		<link rel="stylesheet" href="{{ asset('assets/css/axentix.min.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/css/all.min.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
		{% block stylesheets %} {% endblock %}

		<script src="{{ asset('assets/js/axentix.min.js') }}"></script>
		{% block javascripts %} {% endblock %}
	</head>

	<body class="layout with-sidenav">
		<header>
			<nav class="navbar shadow-1 primary">
				<a href="{{ path('app_home') }}" class="navbar-brand">Petites Annonces</a>
				<div class="navbar-menu ml-auto">
					<a class="navbar-link" href="{{ path('app_home') }}">Accueil</a>
					<a class="navbar-link" href="{{ path('app_login') }}">Connexion</a>
					<a class="navbar-link" href="#">Link 3</a>
					<a class="navbar-link" href="#">Link 4</a>
				</div>
			</nav>
		</header>

		<div id="example-sidenav" data-ax="sidenav" class="sidenav shadow-1 large fixed white">
			<div class="sidenav-header">
				<button data-target="example-sidenav" class="sidenav-trigger">
					<i class="fas fa-times"></i>
				</button>
				<img class="sidenav-logo dropshadow-1" src="{{ asset('assets/img/Feuilles.jpg') }}" alt="Logo"/>
			</div>
			<a href="#" class="sidenav-link active">Mon profil</a>
			<a href="#" class="sidenav-link">Mes annonces</a>
		</div>

		<main>
			<button data-target="example-sidenav" class="mt-3 btn rounded-1 press amaranth dark-1 sidenav-trigger hide-md-up">
				Ouvrir l'onglet
			</button>
			{% block body %} {% endblock %}
		</main>

		<footer class="footer primary">
			Copyright © 2021 - Petites Annonces
		</footer>
	</body>
</html>
